.accordion {

    &__item {
        border-bottom: 1px solid var(--color-gray-200);
    }

    &__title {
        position: relative;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        padding: 25px 50px 25px 0;
        transition: color var(--transition);

        &::before,
        &::after {
            @include pseudo;
            width: 20px;
            height: 2px;
            top: 40px;
            right: 5px;
            background-color: var(--color-dark);
            transition:
                transform var(--transition),
                background-color var(--transition);
        }

        &::after {
            transform: rotate(90deg);
        }

        &.active {
            &:before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(135deg);
            }
        }

        &:focus {}

        @include hover {
            color: var(--color-accent);

            &::before,
            &::after {
                background-color: var(--color-accent);
            }
        }
    }

    &__content {
        line-height: 1.5;
        padding: 0 60px 0 0;
        opacity: 0;
        max-height: 0;
        will-change: max-height;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        overflow: hidden;
        -webkit-transition: max-height var(--transition),
            opacity var(--transition),
            will-change var(--transition);
        transition:
            opacity var(--transition),
            max-height var(--transition),
            will-change var(--transition),
            padding-bottom var(--transition);

        &.open {
            opacity: 1;
            max-height: 100%;
            padding-bottom: 25px;
        }
    }
}