.ask-question {
    max-width: 280px;
    background-color: var(--color-bg);
    border-radius: var(--rounded-md);
    padding: 10px;
    display: grid;
    grid-template-columns: 56px auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 5px;

    &__img {
        grid-row: span 2;
        width: 56px;
        height: 70px;
        border-radius: var(--rounded-md);
        background-color: var(--color-orange);

        img {
            border-radius: var(--rounded-md);
        }
    }

    &__text {
        font-size: 12px;
    }

    &__btn {
        justify-self: start;
        color: var(--color-accent);
        padding: 2px 0;

        @include hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.7;
        }
    }
}