.benefits-card {
    position: relative;
    min-height: 225px;
    height: 100%;
    border: 1px solid var(--color-gray-200);
    border-radius: var(--rounded-lg);
    padding: 70px 20px 20px;

    &::before {
        @include pseudo;
        left: 20px;
        top: 25px;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &--product::before {
        background-image: url('../img/icons-not-sprite/icon-cart-fill.svg');
    }

    &--payment::before {
        background-image: url('../img/icons-not-sprite/icon-wallet.svg');
    }

    &--guarantee::before {
        background-image: url('../img/icons-not-sprite/icon-guarantee.svg');
    }

    &--shipment::before {
        background-image: url('../img/icons-not-sprite/icon-shipment.svg');
    }

    &--installment::before {
        background-image: url('../img/icons-not-sprite/icon-percent.svg');
    }

    &--bg-image {
        background-color: var(--color-bg);
        border: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;

        .benefits-card__link {
            font-weight: 600;

            &::before {
                @include pseudo;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: background-color var(--transition);
            }

            @include hover {

                &::before {
                    background-color: var(--color-accent-10);
                }

                .benefits-card__link-icon {
                    transform: translateX(5px);
                }
            }

        }
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    &__descr {
        margin-bottom: 5px;
    }

    &__link {
        color: var(--color-accent);
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }

    &__link-icon {
        fill: var(--color-accent);
        transition: transform var(--transition);
    }
}