.block-reviews {
    border: 1px solid var(--color-gray-200);
    border-radius: var(--rounded-md);
    padding: 10px;
    display: grid;
    grid-template-columns: 56px auto;
    grid-template-rows: auto auto;
    column-gap: 20px;

    &__logo {
        grid-row: span 2;
        width: 56px;
        height: 56px;
        border-radius: var(--rounded-md);
        background-color: #FC3F1D;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 3px 10px #FC3F1D;
    }

    &__logo-icon {
        fill: var(--color-white);
    }

    &__link {
        height: fit-content;
        font-size: 12px;
        color: var(--color-gray-600);
    }

    &__rating {
        position: relative;
        font-size: 25px;
        font-weight: 600;
        padding-left: 25px;

        &::before {
            @include pseudo;
            left: 0;
            top: 50%;
            width: 14px;
            height: 14px;
            transform: translateY(-50%);
            background-image: url('../img/icons-not-sprite/icon-star.svg');
            background-repeat: no-repeat;

        }
    }
}