.filter-control {
    &__item {}

    &__btn {}

}

.mixitup-control-active {
    color: var(--color-accent);
    box-shadow: 0 0 0 2px var(--color-accent);

    &:focus {
        box-shadow: 0 0 0 2px var(--color-accent);
    }
}