.header {
    position: relative;
    z-index: 100;

    &__middle {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 35px;
    }

    &__logo {
        margin-right: 35px;
    }

    &__catalog {
        margin-right: 20px;
    }

    &__catalog-btn {
        padding: 10px;
    }

    &__catalog-btn-icon {
        fill: var(--color-white);
    }

    &__search {

        flex-grow: 1;
        margin-right: 40px;
    }

    &__actions {}

    &__bottom {
        background-color: var(--color-bg);
        padding: 10px 0;
    }
}

.top-header {
    padding: 10px 0;
    border-bottom: 1px solid #ECF3FF;
    background-color: var(--color-white);

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__link {
        padding: 0 2px;
        border-radius: var(--rounded-sm);
    }

    &__phones {
        margin-left: auto;
    }
}