.hero-slider {
    min-height: 420px;

    &__img-wrap {
        position: absolute;
        right: 20px;
        bottom: 0;
        z-index: 1;
    }

    &__img {
        position: relative;

        &::before {
            @include pseudo;
            background-image: url('../img/hero-slider/kirin.svg');
            right: 0;
            bottom: 0;
            width: 820px;
            height: 200px;
            background-repeat: no-repeat;
            background-position: bottom;
            z-index: -1;
        }

        &::after {
            @include pseudo;
            background-image: url('../img/hero-slider/decor-shadow.png');
            right: -18px;
            bottom: 0;
            width: 540px;
            height: 400px;
            z-index: 0;
        }
    }

    &__absolut-text {
        position: absolute;
        left: -180px;
        bottom: 110px;
        width: 315px;
        height: 65px;
        z-index: 2;
    }

    &__content {
        position: relative;
        max-width: 620px;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 40px 0 120px;
        padding-left: 3px;
        z-index: 3;
    }

    &__label {
        font-size: 14px;
        border: 1px solid var(--color-white);
        margin-bottom: 35px;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__descr {
        font-size: 20px;
        margin-bottom: 25px;
    }

    &__btn {
        color: var(--color-accent);

        &:focus {
            box-shadow: 0 0 0 3px var(--color-white-20);
        }

        @include hover {
            color: var(--color-white);
            background-color: transparent;
            box-shadow: 0 0 0 1px var(--color-white);
        }

        &:active {}
    }

    &__pagination {
        width: 40px !important;
        position: absolute;
        left: 64px !important;
        bottom: 30px !important;
        font-size: 16px;
        z-index: 2;
    }

    &__prev,
    &__next {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid var(--color-white);
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        z-index: 2;
        user-select: none;
    }

    &__next {
        left: 130px;
    }

    &__prev-icon,
    &__next-icon {
        fill: var(--color-white);
    }
}