.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 5px;

        &:nth-child(2) {
            .menu__info {
                padding: 3px 7px;
            }
        }
    }

    &__link {
        font-weight: 600;
    }

    &__info {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 20px;
        min-height: 20px;
        font-size: 10px;
        line-height: 1;
        background-color: var(--color-accent);
        color: var(--color-white);
        border-radius: 50px;
        padding: 3px;
    }
}