.modal {

    &__container {
        position: relative;
        max-width: 790px;
        padding-right: 70px;
        background-color: #fff;
        border-radius: var(--rounded-md);
        overflow: hidden;

        &::before {
            @include pseudo;
            top: 90px;
            right: -50%;
            z-index: 0;
            width: 740px;
            height: 740px;
            background-color: var(--color-bg);
            border-radius: 100%;
        }
    }

    &__close {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 20px;
        right: 20px;

        &:hover {
            .modal__close-icon {
                fill: var(--color-accent);
            }
        }
    }

    &__close-icon {
        transition: fill var(--transition);
        fill: var(--color-gray-600);
    }

    &__content {
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 1;
    }

    &__content-left {
        max-width: 390px;
        padding: 40px;
        padding-right: 20px;
    }

    &__title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__descr {
        font-size: 16px;
        margin-bottom: 35px;
    }

    &__form {
        max-width: 260px;
    }

}