.newsletter {
    background-color: var(--color-accent);
    padding: 20px 0;

    &__container {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__title {
        max-width: 40%;
        font-size: 18px;
        font-weight: 600;
        color: var(--color-white);
    }

    &__form {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__label {
        width: 100%;
    }

    &__input {
        background-color: var(--color-white-20);
        color: var(--color-white);
        border-radius: var(--rounded-md);
        width: 100%;
        padding: 17px 25px;
        font-size: 16px;
        line-height: 1;
        transition: box-shadow var(--transition);

        &::placeholder {
            color: var(--color-white);
        }

        &:focus {
            box-shadow: 0 0 0 1px var(--color-white);

        }
    }

    &__btn {
        color: var(--color-accent);

        &:focus {
            background-color: var(--color-accent);
            color: var(--color-white);
            box-shadow: 0 0 0 1px var(--color-white);
        }

        @include hover {
            background-color: var(--color-accent);
            color: var(--color-white);
            box-shadow: 0 0 0 1px var(--color-white);
        }
    }
}