.product-slider {

    &__prev,
    &__next {
        position: absolute;
        top: 45%;
        width: 40px;
        height: 40px;
        background-color: var(--color-white);
        border: 1px solid transparent;
        border-radius: 100%;
        transition: border var(--transition);
        cursor: pointer;
        z-index: 2;

        @include hover {
            border: 1px solid var(--color-accent);
        }

    }

    &__prev {
        left: 10px;
    }

    &__next {
        right: 10px;
    }

    &__prev-icon,
    &__next-icon {
        fill: var(--color-accent);
    }
}