.product-filter {
    margin-bottom: 105px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
        margin-bottom: 50px;
    }
}