.tabs-section {
    margin-bottom: 100px;

    &__title {
        margin-bottom: 15px;
    }

    &__descr {
        font-size: 20px;
        margin-bottom: 50px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}