.hero {
    color: var(--color-white);
    background: radial-gradient(544.32% 83.35% at 75.14% 62.23%, rgb(166, 169, 255) 0%, rgb(111, 115, 238) 100%);
    margin: 30px 30px 70px;
    border-radius: var(--rounded-lg);
}