.catalog-layout {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__sort {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 600;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--grid-gap);
    }

    &__aside {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__cards {
        grid-column: span 9;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: var(--grid-gap);
    }

    &__item {
        grid-column: span 3;
    }
}

.filter {
    border-radius: var(--rounded-lg);
    background-color: var(--color-bg);
    padding: 20px;

    &__block {
        &:not(:last-child) {
            margin-bottom: 25px;
        }

        &:nth-child(n + 5) {
            display: none;
        }

        &.visible {
            display: block;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;

        @include hover {
            color: var(--color-accent);
        }

        &:active {
            opacity: 0.8;
        }
    }

    &__checkbox-custom {
        box-shadow: 0 0 0 1px var(--color-gray-600);
    }

    &__more {
        font-weight: 600;
        color: var(--color-accent);

        @include hover {
            box-shadow: 0 0 0 1px var(--color-accent);
        }

        &.active {
            .filter__more-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__more-icon {
        fill: var(--color-accent);
        transition: transform var(--transition);
    }
}

.top-product {
    position: relative;
    color: var(--color-white);
    border-radius: var(--rounded-lg);
    background: radial-gradient(250.91% 125.65% at -2.16% 100%, rgb(255, 207, 113) 0%, rgb(243, 167, 18) 100%);

    &__heading {
        position: relative;
        font-size: 18px;
        font-weight: 600;
        padding: 15px 15px 15px 45px;
        border-bottom: 1px solid var(--color-white-20);

        &::before {
            @include pseudo;
            left: 15px;
            top: 15px;
            width: 20px;
            height: 20px;
            background-image: url('../img/icons-not-sprite/fire.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

    }

    &__body {
        display: grid;
        grid-template-columns: 60px auto;
        grid-template-rows: auto auto;
        column-gap: 20px;
        padding: 15px;
    }

    &__img {
        grid-row: span 2;
        width: 60px;
        height: 60px;
        background-color: var(--color-gray-200);
        border-radius: var(--rounded-md);

        img {
            border-radius: var(--rounded-md);
            aspect-ratio: 1/1;
        }
    }

    &__title {
        @include line-clamp(1);
        font-size: 16px;
        font-weight: 400;
    }

    &__link {
        @include line-clamp(1);
        display: block;

        @include hover {
            text-decoration: underline;
        }

        &::before {
            @include pseudo;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--rounded-lg);
        }
    }

    &__price {
        font-size: 20px;
        font-weight: 600;
    }
}

.ask-question {
    &__btn {}
}