/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.range-slider {
    padding-top: 7px;

    &__inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding-top: 25px;
    }

    &__label {
        max-width: 80px;
    }

    &__input {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-dark);
        padding: 8px 9px;
        text-align: center;
    }

    &__delimiter {
        width: 15px;
        height: 1px;
        background-color: var(--color-dark);
    }

    .noUi-target {
        background: var(--color-gray-200);
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .noUi-horizontal {
        height: 2px;
    }

    .noUi-connect {
        background: var(--color-accent);
    }

    .noUi-handle {
        border: none;
        border-radius: 100%;
        background: var(--color-accent);
        cursor: pointer;
        box-shadow: none;
    }

    .noUi-handle:before,
    .noUi-handle:after {
        display: none;
    }

    .noUi-handle:after {
        @include pseudo;
        left: 50%;
        top: 50%;
        width: 6px;
        height: 6px;
        background-color: var(--color-white);
        border-radius: 100%;
        transform: translate(-50%, -50%);
    }

    .noUi-horizontal .noUi-handle {
        width: 16px;
        height: 16px;
        right: -14px;
    }
}